<script lang="ts">
	import { enhance } from '$app/forms';
	import Button from '$lib/components/ui/button/button.svelte';
	import * as Card from '$lib/components/ui/card';
	import { Input } from '$lib/components/ui/input';
	import { Label } from '$lib/components/ui/label';
	import { toasts, ToastContainer, FlatToast } from 'svelte-toasts';

	let email = '';
	let password = '';
	async function onLogin(event: any) {
		event.preventDefault(); // Prevent the default form submission

		try {
			// Send a POST request to your dummy API for login using the fetch API
			console.log('Login button has clicked');
			const user = { email, password };
			const jsonString = JSON.stringify(user);
			console.log('jsonString in login page', jsonString);

			const response = await fetch('http://app.realtorstat.com:8021/usersystem/user/login', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: jsonString
			});
			console.log('response from login page', response);
			const data = await response.json();
			console.log('data from login page', data);

			if (response.ok) {
				// Example: navigate('/dashboard');
				console.log('res', response);
				localStorage.setItem('user', JSON.stringify(data));
				console.log('Login successful');
				toasts.success('LoggedIn Successfully', { placement: 'top-right', theme: 'light' });
			} else {
				const responseData = await response.json();
				console.error('Login failed:', responseData.message);
			}
		} catch (error) {
			console.error('An error occurred:', error);
		}
	}
</script>

<div class="justify-center flex h-[90.5vh] items-center bg-slate-200">
	<ToastContainer placement="bottom-right" let:data>
		<FlatToast {data} />
		<!-- Provider template for your toasts -->
	</ToastContainer>
	<Card.Root class="md:w-[400px] shadow-md shadow-slate-300">
		<Card.Header class="space-y-1">
			<Card.Title class="text-2xl">Login to Continue</Card.Title>
			<Card.Description>Enter your email and password to Visit Dashboard</Card.Description>
		</Card.Header>
		<form on:submit={onLogin}>
			<!-- You can use the 'enhance' binding to capture the values -->
			<Card.Content class="grid gap-4">
				<div class="grid gap-2">
					<Label for="email">Email</Label>
					<Input
						id="email"
						type="email"
						placeholder="m@example.com"
						name="email"
						bind:value={email}
						required
					/>
				</div>
				<div class="grid gap-2">
					<Label for="password">Password</Label>
					<Input
						id="password"
						type="password"
						placeholder="Password"
						name="password"
						bind:value={password}
						required
					/>
				</div>
			</Card.Content>
			<Card.Footer>
				<Button class="w-full" type="submit">Log In</Button>
			</Card.Footer>
		</form>
		<Card.Footer>
			<div>
				Don't have an account?
				<a href="/signup" class="text-blue-500 underline underline-offset-1">Sign Up</a>
			</div>
		</Card.Footer>
	</Card.Root>
</div>
